{% extends "obdoKuchiKomiMenuBundle::baseMenu.html.twig" %}

{% block kk_menu_body %}
    <li><a href="{{ path('obdo_kuchi_komi_homepage') }}">Tableau de bord</a></li>
    <li><a href="{{ path('obdo_kuchi_komi_kuchi', {'page': 1, 'sort': 'active_up'}) }}">Kuchis</a></li>
{% endblock %}
