{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        {% block kk_meta %}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}
        
        <title>{% block title %}CityKomi{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('citykomi_logo.png') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('css/kuchikomi.css') }}" type="text/css">
        {% endblock %}
    </head>

    <body>

        {{ render(controller("obdoKuchiKomiMenuBundle:MainMenu:mainMenu")) }}      
    
        <div class="container">
            {% block kk_body %}
            {% endblock %}
        </div>

    </body>
</html>