{% extends "obdoKuchiKomiBundle:Dashboard:index.html.twig" %}



  {% block kk_stat_KuchiKomiBundle %}
     
      <div id="tuile" class="col-md-12"> 
        <img src="{{ path(laroute) }}" class="col-xs-12"/>   
      </div>

  {% endblock %}  
